MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/methi-clinic
ADMIN_PASSWORD=your_admin_password
JWT_SECRET=your_jwt_secret
META_WA_TOKEN=your_meta_whatsapp_token
META_WA_PHONE_ID=your_meta_phone_number_id
META_WA_VERIFY_TOKEN=your_webhook_verify_token
PORT=3000
